<!-- public/views/home.html -->
<div class="row page-header home-header">
	<div class="col-md-2">
		<button ng-click="postAClassified()" class="btn btn-lg btn-default">Post a Classified</button>
	</div>
	<div class="col-md-4 home-date">
        <p>{{date | date:'EEEE, MMM d, y'}}</p>
	</div>
	<div class="col-md-4">
		<div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
	</div>
	
    <div class="col-md-2">
    	<button ng-click="logout()" class="btn btn-lg btn-default" ng-show="user">Log Out</button>
    	<button ng-click="myAccount()" class="btn btn-lg btn-default" ng-hide="user">Log In</button>
    </div>
</div>
<div class="row">
	<div class="col-md-3" ng-repeat="category in categories | orderBy: 'name'">		
		<div class="panel panel-default"> 
			<h2 class="panel-heading">
				<a href="/classifieds?cid={{category._id}}">{{category.name}}</a>
			</h2>
			<div class="panel-body">
				<div ng-repeat='subcategory in category.subcategories'>
					<a href="/classifieds?cid={{category._id}}&sid={{subcategory._id}}">{{subcategory.name}}</a>
				</div>
			</div>
		</div>
	</div>
</div>