<div class="col-md-3"></div>
<div class="col-md-6">
	<form class="row form-signin">
		<h2 class="col-md-12 form-signin-heading">Please sign in</h2>
		<div class="col-md-12 form-group">
			<label for="inputEmail">Email address</label>
			<input type="email" ng-model="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		</div>
		<div class="col-md-12 form-group">
			<label for="inputPassword">Password</label>
			<input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required>
		</div>
		<div ng-show="err" class="col-md-12 error">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="text-align: center;">
				Invalid Username/Password
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<button ng-click="submit()" class="btn btn-lg btn-craigslist btn-block">Sign in</button>
			</div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-6" style="text-align: center;">
			<a href="/signup">New User? Sign Up!</a>
		</div>
	</form>
	
</div>