<!-- public/views/posts.html -->

<div class="jumbotron text-center">
    <h1>Posts</h1>

    <p>{{ tagline }}</p>

<form action="/names" method="POST">
  <input type="text" placeholder="name" name="name">
  
  <button type="submit">Submit</button>
</form>
<form action="/update" method="POST">
  <input type="text" placeholder="name to update" name="uname">
  
  <button type="submit">Submit</button>
</form>
<form action="/delete" method="POST">
  <input type="text" placeholder="name to delete" name="dname">
  
  <button type="submit">Submit</button>
</form>
<form action="/display" method="POST">
  
  
  <button type="submit">Display data</button>
</form>    

</div>
