body {
	background-color: #333;
	color: #500080;
}

html, body {
    height:100%;
}

div.container {
	background-color: #f9f9f9;
	min-height: 100%;
}

div.my-account{
	padding: 20px;
}

.btn-craigslist {
    background-color: #500080;
    border-color: #500080;
    color: #f3f3f3;
}

a {
	color: #500080;
}

.navbar-header {
	width: 30%;
}

img.logo {
	width: 100%;
}


div.home-date {
    text-align: center;
    font-size: 2.5em;
}

div.home-header {
	background-color: #500080;
	padding:20px;
	color:#f3f3f3;
}