body {
	background-color: #333;
	color: #500080;
}

html, body {
    height:100%;
}

div.container {
	background-color: #f9f9f9;
	min-height: 100%;
	padding-bottom: 50px;
}

div.my-account{
	padding: 20px;
}

.btn-craigslist {
    background-color: #500080;
    border-color: #500080;
    color: #f3f3f3;
}

.btn-craigslist:hover {
    color: #f3f3f3;
}

a {
	color: #500080;
}

.navbar-header {
	width: 30%;
}

img.logo {
	width: 100%;
}


div.home-date {
    font-size: 2em;
}

div.home-header {
	background-color: #500080;
    text-align: center;
	padding:20px;
	color:#f3f3f3;
}

.error {
	color: red;
}

div.cd-left p{
	letter-spacing: 2px;
	margin: 10px;
	padding: 10px;
}

div.cd-left .cd-desc {
	background-color: #f0f0f0;
	font-size: 1.5em;
}

div.cd-right p {
	background-color: #f0f0f0;
	letter-spacing: 2px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #f0f0f0;
	border-radius: 25px;
}

div.listing-item {
	border: 1px solid #f0f0f0;
	border-radius: 25px;
	background-color: #f0f0f0;
	padding: 10px;
	margin: 10px 0; 
}

.page-header.listing-filter {
    overflow: hidden;
}