<!-- public/views/listing.html -->

<div class="row">
	<div class="col-md-12">
		<h2 class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{homeUrl}}">Home</a></li>
				<li ng-if="category" class="breadcrumb-item"><a href="{{catUrl}}">{{category}}</a></li>
				<li ng-if="subcategory" class="breadcrumb-item active">{{subcategory}}</li>
			</ol>
		</h2>
		<div class="page-header listing-filter">
			<!-- 	
			<div class="col-md-3 form-group">
  				<label for="pagination">Page:</label>
  				<select class="form-control" id="pagination" ng-model="page">
					<option ng-repeat="p in pages"value="{{p}}">{{p}}</option>
				</select>
			</div> -->
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4" ng-repeat="listItem in data">
		<div class="col-md-12 listing-item">
			<a href="/classified/{{listItem._id}}">
				<img ng-if="listItem.image" class="img-responsive" src="{{listItem.image}}" alt="">
				<img ng-if="!listItem.image" class="img-responsive" src="../imgs/noimage.jpg" alt="no image">
			</a>
			<h3>
				<a href="/classified/{{listItem._id}}">{{listItem.shortdesc}} <small>{{listItem.location}}</small></a>
				<small>{{listItem.price | currency}}</small>
				
			</h3>
		</div>
	</div>
</div>