<!-- public/views/classified.html -->

<div class="jumbotron text-center">
    <h1>{{data.shortdesc}}</h1>

    <p>{{data.year}} {{data.make}} {{data.model}} {{data.modelNumber}}</p>

    <img src='{{data.image}}'/>

    <p>fuel: {{data.fuelType}}</p>
    <p>odometer: {{data.odometer}}</p>
    <p>title status: {{data.condition}}</p>
    <p>transmission: {{data.transmission}}</p>

    <p>{{data.description}}</p>

    <p>Post Id: {{data._id}}</p>
    <p>Posted on: {{data.pdate}}</p>
    <p>Updated: {{data.udate}}</p>


</div>
