<!-- public/views/classified.html -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{{data.categ[0].name}}</li>
                <li class="breadcrumb-item active">{{data.subcateg[0].name}}</li>
            </ol>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
        <h1>{{data.shortdesc}} ({{data.location}})</h1>
        <h3 ng-show="currFields.price && data.price">Price: {{data.price | currency}}</h3>
    </div>
    <div class="col-md-2">
        <button ng-if="canFavourite" ng-class="{'disabled': isFavourite}"  class="btn btn-craigslist pull-left" ng-click="makeFavorite()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
        <img ng-if="data.image" class="img-responsive" src="{{data.image}}" alt="">
        <img ng-if="!data.image" class="img-responsive" src="../imgs/noimage.jpg" alt="no image">
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 cd-left">

        <p class="cd-desc">
        <label>Description:</label> {{data.desc}}</p>
        <p>Post Id:{{data._id}}</p>
        <p ng-if="canFavourite">Posted by: <a href="{{mailTo}}">{{data.user[0].name}} <i class="fa fa-envelope" aria-hidden="true"></i></a></p>
        <p ng-if="!canFavourite">Posted by: {{data.user[0].name}}</p>
        <p>Date posted: {{data.pdate}}</p>
        <p>Date last updated: {{data.udate}}</p>

    </div>
     <div class="col-md-3 cd-right" style="text-align: center;">
        <!-- <p>Location: {{data.location}}</p> -->
        <p ng-show="currFields.area && data.area">Area: {{data.area}}</p>
        <p ng-show="currFields.bed && data.bed">Bed: {{data.bed}}</p>
        <p ng-show="currFields.bath && data.bath">Bath: {{data.bath}}</p>
        <p ng-show="currFields.amenities && data.amenities">Amenities: {{data.amenities}}</p>    
        <p ng-show="currFields.dlength && data.dlength">Length: {{data.dlength}} cm</p>
        <p ng-show="currFields.dwidth && data.dwidth">Width: {{data.dwidth}} cm</p>
        <p ng-show="currFields.dheight && data.dheight">Height: {{data.dheight}} cm</p>
        <p ng-show="currFields.condition && data.conditionid">Condition: {{data.condition[0].condition}}</p>
        <p ng-show="currFields.make && data.make">Make: {{data.make}}</p>
        <p ng-show="currFields.manufacturer && data.make">Manufacturer: {{data.make}}</p>
        <p ng-show="currFields.model && data.model">Model: {{data.model}}</p>
        <p ng-show="currFields.year && data.year">Year: {{data.year}}</p>
        <p ng-show="currFields.transmission && data.transmissionid">Transmission type: {{data.transmission[0].type}}</p>
        <p ng-show="currFields.fueltype && data.fueltype">Fuel type: {{data.fuel[0].type}}</p>
        <p ng-show="currFields.odometer && data.odometer">Odometer reading: {{data.odometer}}</p>
        <p ng-show="currFields.dateavailable && data.dateavailable">Available from: {{data.dateavailable}}</p>
        <p ng-show="currFields.furnished && data.furnished">Furnished: {{data.furnished}}</p>  
        <p ng-show="currFields.laundry && data.laundry">Laundry: {{data.laundry}}</p>
        <p ng-show="currFields.parking && data.parking">Parking: {{data.parking}}</p>
        <p ng-show="currFields.cylinders && data.cylinders">Cylinders: {{data.cylinders[0].cylinders}}</p>
        <p ng-show="currFields.drivetype && data.drivetype">Drive type: {{data.drive[0].type}}</p>
        <p ng-show="currFields.color && data.paintcolor">Paint color: {{data.paint}}</p>
        <p ng-show="currFields.titlestatus && data.titlestatus">Title status: {{data.titlestatus[0].status}}</p>
        <p ng-show="currFields.vehicletype && data.vehicletype">Vehicle type: {{data.vehicletype[0].type}}</p>
        <p ng-show="currFields.employmenttype && data.employmenttype">Employment type: {{data.employmenttype[0].type}}</p>
        <p ng-show="currFields.dealer && data.dealer">Owner/Dealer: {{data.dealer}}</p>
        <p ng-show="currFields.privateroom && data.privateroom">Private room: {{data.privateroom}}</p>
        <p ng-show="currFields.privatebath && data.privatebath">Private bath: {{data.privatebath}}</p>
        <p ng-show="currFields.size && data.sizeid">Size: {{data.vehiclesize[0].size}}</p>
        <p ng-show="currFields.area && data.area">Propulsion: {{data.propulsionid}}</p>
    </div>
</div>
</div>
