<!-- public/views/classified.html -->

<div class="jumbotron text-center">
    <h1>{{data.shortDesc}}</h1>

    <p>{{data.year}} {{data.make}} {{data.model}} {{data.modelNumber}}</p>

    <img src='{{data.image}}'/>

    <p>fuel: {{data.fuelType}}</p>
    <p>odometer: {{data.odometer}}</p>
    <p>title status: {{data.condition}}</p>
    <p>transmission: {{data.transmission}}</p>

    <p>{{data.description}}</p>

    <p>Post Id: {{data.id}}</p>
    <p>Posted on: {{data.postedDate}}</p>
    <p>Updated: {{data.updatedDate}}</p>


</div>
